<section id="Contact" class="hero is-fullheight is-white" data-bg="light">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-half">
          <div class="content has-text-centered" style="margin-bottom:3rem;">
            <h2 class="title">Contact Us</h2>
            <p></p>
          </div>
          <form name="contact" action="/pages/success" method="POST" netlify>
            <!-- Spam filtering -->
            <p class="hidden">
              <label>Don’t fill this out if you're human: <input name="bot-field" /></label>
            </p>

            <div class="field">
              <label class="label"></label>
              <div class="control">
                <input required class="input" type="text" placeholder="Name" name="name" />
              </div>
            </div>

            <div class="field">
              <label class="label"></label>
              <div class="control">
                <input required class="input" type="email" placeholder="Email" name="email" />
              </div>
            </div>

            <div class="field">
              <label class="label"></label>
              <div class="control">
                <textarea required class="textarea" placeholder="Message" name="message"></textarea>
              </div>
            </div>

            <div class="control has-text-centered" style="margin-top:1.5rem;">
              <button type="submit" class="button is-medium is-primary"><span style="padding-left:1rem;padding-right:1rem;">Submit</span></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>