<head>

	<title>{{ .Site.Title }}</title>
	<link rel="stylesheet" href="/css/main.css" />
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
	 crossorigin="anonymous">
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name="theme-color" content="#9bc19b">

	<!-- Open Graph -->
	<meta property="og:type" content="website">
	<meta property="og:title" content="{{ .Site.Title }}">
	<meta property="og:url" content="{{ .Site.BaseURL }}">
	<meta property="og:description" content="{{ .Site.Params.description }}">
	<meta property="og:image" content="{{ "img/4ee.jpg" | absURL }}">

	<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>