<section id="Projects" class="slides" data-bg="dark">
  {{ range where .Data.Pages "Section" "projects"}}
  <div data-name="{{ .Params.title }}">
    <div class="hero is-dark is-fullheight" style="background-image: {{if .Params.overlay }}linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),{{ end }}url({{ .Params.image }}); background-position: center center; background-size: cover;">
      <div class="hero-body">
        <div class="container">
          <div class="columns is-centered">
            <div class="column is-half">
              <div class="content has-text-centered">
                <h2 class="title is-uppercase">
                  {{ title .Params.title }}
                </h2>
                <p>{{ .Params.description }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{ end }}
</section>
