<div id="purpose" data-name="{{ .tab }}">
    <div class="hero is-white is-fullheight">
      <div class="hero-body">
        <div class="container">
          <div class="columns is-centered">
            <div class="column is-half">
              <div class="content has-text-centered">
                <h2 class="title is-2">{{ if (.heading) }}{{ .heading }}{{ else }}{{ .tab }}{{ end }}</h2>
                <p>{{ .text }}</p>
              </div>
              </div>
            </div>

            {{ partial "services" . }}
          </div>
        </div>
      </div>
    </div>
</div>
