<div id="media" data-name="{{ .tab }}">
  <div class="hero is-white is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-half">
            <div class="content has-text-centered">
              <h2 class="title is-2">{{ if .heading }}{{ .heading }}{{ else }}{{ .tab }}{{ end }}</h2>
            </div>
          </div>
        </div>
        <div class="columns is-centered">
          <div class="column is-three-quarters">
            <div class="media-features columns is-vcentered is-centered is-multiline is-flex-mobile">
              {{ range .items }}
                <div class="column is-3 is-6-mobile">
                  <a href="{{ .link }}" target="_blank" >
                    <figure class="image">
                      <img src="{{ .image }}"/>
                    </figure>
                  </a>
                </div>
              {{ end }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
